<div  class="container">
    <div class="modal-header">
        <h4 class="modal-title"> EDIT DATA</h4>
        <button type="button" class="close" (clisk)="activeModal.dismiss('Cross-click')"></button>
        <span area-hiden="true">&times</span>
    </div>
    
    
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="id">id</label>
                <input name="id" type="text" class="form-control" id="id" [(ngModel)]="item.id" disabled />
            </div>
            <div class="form-group">
                <label for="id">name</label>
                <input name="name" type="text" class="form-control" id="name" [(ngModel)]="item.name" disabled />
            </div>
        </form>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.dismiss(Cancel click)">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveChanges()">save</button>
    </div>
    
</div>